html {
        background-repeat: no-repeat;
        height: 100vh;
        transition: all 0.4s ease;
}

body {
    font-family: 'Pacifico',
    cursive;
    color: white;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
}

#gradient {
    background-color: red;
}

.container {
    height: auto;
    text-align: center;
    margin: auto auto;
    line-height: 2;
}

h2, h3 {
   font-family: 'Montserrat',sans-serif;
}

h1{
    font-size: 5vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1em;
}


h3 {
    background-color: black;
    color: white;
}
input {
    align-self: center;
}

.current {
    background-color:#19A6FF;
    margin: 2rem;
    border-radius: 25px;
}

#selector {
    width: 25%;
    height: 2rem;
    border-radius: 15px;
    margin: 1rem auto;
    font-family: 'Montserrat',
    sans-serif;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 7vw;
    }
}